.individual-post {
  /* background-image: url("target.image"); */
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.overallReviews {
  display: flex;
  justify-content: center;
}
