#deleteModel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 15px;
}

#delModalTitle {
  text-align: center;
}

#delModalText {
  text-align: center;
  max-width: 300px;
  font-size: 20px;
  text-wrap: wrap;
}

#delModalButtons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

#delete-btn,
#keep-btn {
  padding: 5px;
}

.delete-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#delete-btn {
  width: 50%;
  padding: 10px;
  background-color: green;
  color: white;
  margin: 0;
  margin-bottom: 3px;
}

#keep-btn {
  width: 50%;
  padding: 10px;
  background-color: black;
  color: white;
  margin: 0;
  margin-bottom: 3px;
}

/* Rod Delete  */
#deleteReviewModel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 15px;
}

#delReviewModalTitle {
  text-align: center;
}

#delReviewModalText {
  text-align: center;
  max-width: 300px;
  font-size: 20px;
  /* text-wrap: wrap; */
}

#delReviewModalButtons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

#delete-review-btn,
#keep-review-btn {
  padding: 5px;
}
