#delPostModalTitle {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}
#delPostModalText {
  display: flex;
  font-size: 20px;
  word-break: break-word;
  margin: 10px 5px;
}

#delPostModalButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#delete-post-btn {
  width: 40%;
  padding: 10px;
  margin: 10px;
  background: darkred;
  box-shadow: 12px 20px 30px rgb(255, 137, 1);
  transition: all 0.3s ease 0s;
  border: none;
  border-radius: 15px;
  color: white;
}
#delete-post-btn:hover {
  background: rgb(60, 255, 0);
  box-shadow: 12px 20px 30px rgb(56, 142, 60);
  cursor: pointer;
  transform: translateY(-7px);
}
#keep-post-btn {
  width: 40%;
  padding: 10px;
  margin: 10px;
  background: black;
  box-shadow: 12px 20px 30px rgb(104, 110, 104);
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease 0s;
  color: white;
}
#keep-post-btn:hover {
  background: rgb(60, 255, 0);
  box-shadow: 12px 20px 30px rgb(56, 142, 60);
  cursor: pointer;
  transform: translateY(-7px);
}

.delete-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: red;
  border-radius: 15px;
}

#delReviewModalTitle {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}
#delReviewModalText {
  display: flex;
  font-size: 20px;
  word-break: break-word;
  margin: 10px 5px;
}

#delReviewModalButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#delete-review-btn {
  width: 40%;
  padding: 10px;
  margin: 10px;
  background: darkred;
  box-shadow: 12px 20px 30px rgb(255, 137, 1);
  transition: all 0.3s ease 0s;
  border: none;
  border-radius: 15px;
  color: white;
}
#delete-review-btn:hover {
  background: rgb(60, 255, 0);
  box-shadow: 12px 20px 30px rgb(56, 142, 60);
  cursor: pointer;
  transform: translateY(-7px);
}
#keep-review-btn {
  width: 40%;
  padding: 10px;
  margin: 10px;
  background: black;
  box-shadow: 12px 20px 30px rgb(104, 110, 104);
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease 0s;
  color: white;
}
#keep-review-btn:hover {
  background: rgb(60, 255, 0);
  box-shadow: 12px 20px 30px rgb(56, 142, 60);
  cursor: pointer;
  transform: translateY(-7px);
}
