.profileContainer {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileTab {
  cursor: pointer;
  text-align: center;
  background-color: rgba(74, 135, 128, 0.25);
  border-radius: 15px;
  padding: 10px 15px;
}
.profileTab:hover {
  background-color: rgba(58, 102, 115, 0.5);
}
.profileTab#selected {
  background-color: rgba(58, 102, 115, 0.75);
}

.profileTabDisplay {
  display: flex;
  padding-top: 15px;
  overflow-wrap: wrap;
}
.profileButtonContainer {
  width: 100%;
  padding: 5px;
  margin: 5px;
}
.profileButtonContainer > a {
  width: 50%;
}
.profileButtonContainer > a > button {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 0.3s ease 0s;
  border: none;
  border-radius: 15px;
}

.delete-profile {
  width: 50%;
}
/* .delete-button-container {
  font-size: 18px;
  width: 70%;
  color: #ab434a;
  border: 5px solid #ab434a;
  border-radius: 12px;
  background-color: #ab434a;
  cursor: pointer;
  position: relative;
} */

.profileButtonContainer {
  display: flex;
  gap: 15px;
}

.userReviewsContainer,
.userPostsContainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  overflow-y: scroll hidden;
}
.indvUserPosts,
.indvUserReviews {
  padding: 25px;
  gap: 15px;
  border: 1px solid #322e3f;

  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 20px auto;
  transition: all 0.2s ease-in-out;
}
.indvUserPosts {
  width: fit-content;
  min-width: 350px;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.indvUserReviews {
  /* display: flex; */
  min-width: 200px;
  max-height: 250px;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.indvUserReviews {
  overflow-y: scroll;
}
.indvUserPosts:hover,
.indvUserReviews:hover {
  transform: translateY(-10px);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.userPostImages {
  max-width: 150px;
  padding: 5px;
}
.userIdvPostImage {
  height: 350px;
  width: 350px;
  border-radius: 15px;
}
.userPostDescription,
.userPostReview {
  display: flex;
  overflow-wrap: anywhere;
  flex-wrap: wrap;
  min-width: 150px;
  max-width: 300px;
  min-height: 415px;
  max-height: 415px;
  overflow-y: hidden;
  overflow-y: scroll;
}

.userPostButtons {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  gap: 15px;
  align-items: center;
}
#editPostButton {
  width: 100%;
}
