.post-form-page {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}

.post-form-container {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  box-shadow: 15px 25px 40px rgb(157, 255, 0, 0.8);
  margin: 15px 0 15px 0;
  background-color: rgb(0, 255, 42);
}

.post-form-header {
  color: black;
  font-family: Billabong;
  font-size: 3em;
}

.title-input-box {
  margin-top: 10px;
  height: 40px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.description-input-box {
  margin-top: 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.floating-fillers-post {
  position: absolute;
  pointer-events: none;
  /* font-size: 45px; */
  top: -1px;
  left: 35px;
}
input {
  width: 90%;
}
textarea {
  width: 90%;
}

.button {
  color: black;
  font-family: Helvetica;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
  height: 1.7em;
  width: 6em;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.errors-info {
  color: red;
  font-weight: bold;
}
