.profile-dropdown {
  position: absolute;
}

li {
  list-style: none;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  background: url(../../assets/goo.png);
  background-size: contain;
  overflow: auto;
  overflow-y: visible;
  position: relative;
  padding-top: 10px;
}
.profile-dropdown {
  display: flex;
  right: 25px;
  position: absolute;
  flex-direction: column;
  text-align: center;
  position: absolute;
  background-color: red;
  border: 1px solid black;
  border-radius: 15px;
  color: #322e3f;
  padding: 25px;
  list-style: none;
  z-index: 10;
}
.logo-left {
  width: 100px;
  height: auto;
  background-image: url(../../assets/favicon1.ico);
}
.hidden {
  display: none;
}
.nav-right {
  display: flex;
  font-size: 30px;
  padding: 0 20px 0 0;
  flex-direction: row;
  color: white;
}
a {
  color: white;
}
a:visited {
  color: white;
}
