body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  /* color: transparent; */
  background: linear-gradient(
    -45deg,
    #00b0ff,
    #00e5ff,
    #1de9b6,
    #01579b,
    #64ffda
  );
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  overflow: hidden;
  overflow-y: scroll;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: 0;
  line-height: 1;
  font-size: 4em;
  color: transparent;
  text-transform: uppercase;
  background-image: linear-gradient(
    to left,
    #4527a0,
    #283593,
    #1565c0,
    #5e35b1
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animate 5s linear infinite;
  -webkit-background-size: 500%;
  background-size: 500%;
  text-align: center;
}

@keyframes animate {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
