* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
  /* cursor: none; */
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}
/*
.cursor {
  z-index: 999;
  position: fixed;
  background: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px blue, 0 0 60px blue, 0 0 100px blue;
  animation: colors 5s infinite;
  transform: translate(-50%, -50%);
  display: none;
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.cursor:before {
  content: "";
  position: absolute;
  background: blue;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
} */
/*
.cursor {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
}

.site-wide {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 10;
}

.site-wide .pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
  z-index: 10;
}

.site-wide.active .pointer {
  width: 20px;
  height: 20px;
} */

/* .homediv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cursorhome {
  display: block;
  width: 50px;
  height: 50px;
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
}

.cursorhome.active {
  width: 75px;
  height: 75px;
} */
