.overallReviews {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 25px;
  margin: 10px 0;
}

.insideman {
  margin-right: 20px;
}

.numberReviews {
  margin-left: 20px;
}
.add-review-button-container {
  width: 50%;
}

.add-review-button-outside-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.add-review-button-container button {
  background-color: green;
  box-shadow: 8px 15px 20px rgba(0, 48, 29, 0.8);
  color: #fff;
}
.add-review-button-container button:hover {
  background-color: rgb(0, 191, 0);
  box-shadow: 8px 15px 20px rgb(0, 255, 8);
  color: #fff;
  cursor: pointer;
}
.reviews-object {
  display: flex;
  border-bottom: 1px solid grey;
  padding: 5px;
  flex-direction: row;
  width: 100%;
}
.reviews-buttons-container {
  width: 15%;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.reviews-buttons-container .delete-review button {
  background: rgb(214, 24, 24);
  margin: 2px 0;
}
.reviews-buttons-container .edit-review button {
  background: turquoise;
  margin: 2px 0;
}
.reviews-buttons-container .delete-review button:hover {
  background: rgb(255, 0, 0);
  cursor: pointer;
}
.reviews-buttons-container .edit-review button:hover {
  background: rgb(7, 255, 230);
  cursor: pointer;
}
.edit-review {
  display: flex;
  align-items: center;
}
.delete-review {
  display: flex;
  align-items: center;
}
